<!doctype html>
<html lang='en'>

  <head>
    <meta charset='utf-8'>
    <title>Home - Serious Snibbage</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Snibbage</a></h1>
    </header>

    <main>
      <h2>Latest Snibbage</h2>
      <p>oy le spangbo neebit</p>
    </main>

    <footer>
      Powered by <a href="https://fortran-lang.org">FORTRAN</a>
    </footer>

</html>
